@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The ideas expressed in this web site are a mixture of Lee's own thoughts, ideas and concepts as well as others' thoughts, ideas and concepts Lee has found and linked to from a variety of location across the vast Interwebs (Google is Lee's friend!) :).</p>
