@{
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  h_leep_erk@@gee-male dot com (remove the _s and correct the part after the @@ and you've got it!)
</address>
